.nav-link--phone {
  display: none;
}
@media screen and (max-width: 1200px) {
  .navigation {
    max-width: 1024px;
  }
  .circle {
    width: 100vw;
  }

  #app {
    .main {
      min-height: 75vh;
      .circle {
        height: calc(75vh - 120px);
      }

    }
    .gallery {
      min-height: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  #app {
    .nav-link--phone {
      display: block;
      ul {
        margin-right: 30px;
        list-style-type: none;
        text-decoration: none;
      }
    }
    max-width: 100%;
    overflow: hidden;
    .logo {
      width: 150px;
      height: 45px;
    }
    .nav-links {
      display: none;
    }
    .footar {
      padding-top: 30px;
      flex-direction: column;
      height: auto;
      .container {
        flex-direction: column;
      }
    }

    // ================= Секция about
    .about {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    h2 {
      font-size: 32px;
    }
    .about-grid {
      flex-direction: column;
      &__item {
        width: 100%;
      }
    }

    // ================= Секция галлерея
    .gallery {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    // ================= Секция калькулятора
    .calculator {
      flex-direction: column;
      .caclulator__column {
        width: 100%;
      }
    }
    .result {
      button {
        margin:  20px auto;
      }
    }

    // ================= Секция партнеры
    .partners {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .partners-gallery__row {
      img {
        padding: 0;
        filter: grayscale(0);
        height: 16.67%;
      }
    }
    // ================= Секция контакты
    .contacts {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .map-container {
      height: 450px;
    }
  }

  .v--modal-box.v--modal {
    width: 320px !important;
    left: calc(50% - 160px) !important;
    right: calc(50% - 160px) !important;
    max-width: 320px;
    min-width: 320px;
  }
}