* {
    box-sizing: border-box;
}

@mixin phone {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin tab-up {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tablet-up {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin pc-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin big-up {
    @media (min-width: 1800px) {
        @content;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@include tab-up {
  .container {
      width: 750px;
  }
}

@include tablet-up {
  .container {
    width: 970px;
  }
}

@include pc-up {
    .container {
        width: 1170px;
    }
}
