$dark: #000;
$light: #f1f2f6;
$red: #C91414;
$blue: #000;

.color-red {
    color: $red;
}

.btn {
    border: none;
}

.grad-btn {
    color: $light;
    border: 0;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: all .3s ease;
    padding: 10px 70px;
    height: 64px;
    background-color: #b294b9;
    border: 2px solid #000;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZGI2MTk4IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNjNzhhYWIiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjI1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2EzYTVjNiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNzUiLz48c3RvcCBzdG9wLWNvbG9yPSIjNzRiNGRlIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0, rgb(219, 97, 152)),color-stop(0.25, rgb(199, 138, 171)),color-stop(0.75, rgb(163, 165, 198)),color-stop(1, rgb(116, 180, 222)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(right,rgb(219, 97, 152) 0%,rgb(199, 138, 171) 25%,rgb(163, 165, 198) 75%,rgb(116, 180, 222) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to left,rgb(219, 97, 152) 0%,rgb(199, 138, 171) 25%,rgb(163, 165, 198) 75%,rgb(116, 180, 222) 100%);
    background-image: -ms-repeating-linear-gradient(right,rgb(219, 97, 152) 0%,rgb(199, 138, 171) 25%,rgb(163, 165, 198) 75%,rgb(116, 180, 222) 100%);
     //box-shadow: 0 4px 4px -2px #000000;
     outline: transparent;
     &:hover {
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     }
}
